{% extends 'index.html' %}

{% block right_box %}
    {% load static %}
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>

    <div class="clearfix">
        <h2 class="sub-header pull-left">防火墙映射关系</h2>
    </div>

    <div class="form-data">
        {% for form in forms %}
            <div class="form-group">
                <label for="{{ form.id_for_label }}" class="col-md-2">{{ form.label }}</label>
                <div class="col-md-10">{{ form }} <span
                        class="help-block span_errors pull-right">{{ form.errors.0 }}</span></div>
            </div>
        {% endfor %}
            {% csrf_token %}

        <span id="exists_erros" class="pull-right help-block span_errors"></span>
    </div>

    <button class="upbtn btn btn-default btn-lg btn-block">提交</button>

    <script>
        $(".upbtn").on('click', function () {
            var formData = new FormData();
            var $inputdata = $('input').serializeArray();
            $.each($inputdata, function (key, value) {
                {# key: 序列号，  value {{name: "mapid", value: ""}} #}
                formData.append(value.name, value.value);
            });
            var $inputdata = $('select').serializeArray();
            if ($inputdata){
                $.each($inputdata, function (key, value) {
                    {# key: 序列号，  value {{name: "mapid", value: ""}} #}
                    formData.append(value.name, value.value);
                });
            }
            formData.append('id', {{ queryset.pk }});
            var mid = $("[name='mapid']").val();

            $.ajax({
                url: '{% url "fwMapping:change" %}',
                type: "put",
                processData: false,
                contentType: false,
                data: formData,
                success: function (data) {
                    if (data.status == 10001) {
                        $.each(data.msg, function (key, value) {
                            {# key是mapid， value是错误内容#}
                            var error_id = $("#id_" + key);
                            error_id.parent().children('.span_errors').html(value[0].message);
                            if (key == "__all__") {
                                console.log(value[0].message);
                                $("#exists_erros").text(value[0].message)
                            }
                        })
                    } else if (data.status == 10000) {
                        $("#exists_erros").text("添加成功 - 3秒钟后返回关系页面");
                        setInterval(function () {
                            location.href = "{% url 'fwMapping:indexDetail' %}"
                        }, 3000)
                    }
                    setInterval(function () {
                        $(".span_errors").html("")
                    }, 5100)
                }
            })

        })
    </script>
{% endblock %}