{% extends 'index.html' %}

{% block right_box %}
    {% load static %}
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <div class="clearfix">
        <h2 class="sub-header pull-left">防火墙映射关系</h2>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                {% for form in forms %}
                    <th>{{ form.label }}</th>
                {% endfor %}
                <th colspan="2">操作</th>
            </tr>
            </thead>
            <tbody>
            {% for mapping in queryset %}
                {% for foo in mapping.filed %}
                    {{ foo }}
                {% endfor %}
                
                <tr>
                    <td name="id">{{ mapping.id }}</td>
                    <td name="serid">{{ mapping.serid }}</td>
                    <td name="protocol">{{ mapping.get_protocol_display }}</td>
                    <td name="lanport">{{ mapping.lanport }}</td>
                    <td name="wanport">{{ mapping.wanport }}</td>
                    <td name="lanip">{{ mapping.lanip.lanip }}</td>
                    <td name="wanip">{{ mapping.wanip.wanip }}</td>
                    <td>
                        <span>
                            <a href="{% url 'fwMapping:change' %}?changeID={{ mapping.pk }}">修改</a>
                            <a href="#" class="delete">删除</a>
                            <a href="#" class="fw_sql">生成</a>
                        </span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% include 'paginator_page.html' %}

    </div>
    {% csrf_token %}


    <a href="{% url 'fwMapping:change' %}">
        <button class="pull-right btn btn-warning">添加映射</button>
    </a>
    <script>
        $(".delete").on('click', function () {
            swal({
                title: "确认删除?",
                text: "再次确认, 如果删除点击确认, 取消点返回!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        {#var mid = $(this).parent().parent().parent().children().first().text()#}
                        {#  向上找两级，parent(),parent  #}
                        var mid = $(this).parents().eq(2).children().first().text();
                        var jsonstr = {"mid": mid, "csrfmiddlewaretoken": '{{csrf_token}}'};
                        $.ajax({
                            url: "{% url 'fwMapping:indexDetail' %}",
                            type: "DELETE",
                            contentType: 'application/json',
                            dataType: 'json',
                            data: JSON.stringify(jsonstr),
                            success: function (data) {
                                if (data.status == 10000) {
                                    swal("删除成功!", {icon: "success",});
                                    {# 定时2秒之后在进行删除#}
                                    setInterval(function () {
                                        location.reload()
                                    }, 1000)
                                } else {
                                    swal("删除失败!", {icon: "warning",});
                                }
                            }
                        })
                    }
                });

        })
    
        $(".fw_sql").on('click', function () {
            var $tr_value = $(this).parents().eq(2).children();
            $.each($tr_value, function (k,v) {
                var $v = $(v);
                console.log($v)
            })
            console.log($("td[name='id']").text())
        })
    </script>

{% endblock %}