{% extends 'index.html' %}

{% block right_box %}
    {% load static %}
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>

    <div class="clearfix">
        <h2 class="sub-header pull-left">防火墙映射关系</h2>
    </div>

    <div class="form-data">
        {% for form in forms %}
            <div class="form-group">
                <label for="{{ form.id_for_label }}" class="col-md-2">{{ form.label }}</label>
                <div class="col-md-10">{{ form }} <span
                        class="help-block span_errors pull-right">{{ form.errors.0 }}</span></div>
            </div>
        {% endfor %}
        <span id="exists_erros" class="pull-right help-block span_errors"></span>
    </div>

    <button class="upbtn btn btn-default btn-lg btn-block">提交</button>

    <script>
        $(".upbtn").on('click', function () {
            var formData = new FormData();
            var $inputdata = $('select').serializeArray();
            $.each($inputdata, function (key, value) {
                 {# key: 序列号，  value {{name: "mapid", value: ""}} #}
                formData.append(value.name, value.value);
                console.log(key,value)
            });
            {#formData.append('id', {{ queryset.pk }});#}
            {##}
            {#formData.append('wanip', $("[name='wanip']").val());#}
            {#formData.append('lanip', $("[name='lanip']").val());#}
            {#formData.append('protocol', $("[name='protocol']").val());#}
            {#formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');#}
            {#var mid = $("[name='mapid']").val();#}


        })
    </script>
{% endblock %}