{% extends 'index.html' %}

{% block right_box %}
    <h2 class="sub-header">防火墙映射关系</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                {% for form in forms %}
                    <th>{{ form.label }}</th>
                {% endfor %}
               <th colspan="2">操作</th>
            </tr>
            </thead>
            <tbody>
            {% for mapping in mapping_list %}
                <tr>
                    <td>{{ mapping.mapid }}</td>
                    <td>{{ mapping.serid }}</td>
                    <td>{{ mapping.get_protocol_display }}</td>
                    <td>{{ mapping.lanport }}</td>
                    <td>{{ mapping.wanport }}</td>
                    <td>{{ mapping.lanip.lanip }}</td>
                    <td>{{ mapping.wanip.wanip }}</td>
                    <td>
                        <span>
                            <a href="#">修改</a>
                            <a href="#">删除</a>
                        </span>
                    </td>
{#                    <td></td>#}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}