{% extends 'index.html' %}

{% block right_box %}
    {% load static %}
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <div class="clearfix">
        <h2 class="sub-header pull-left">防火墙映射关系--外网地址添加</h2>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>外网IP</th>
                <th colspan="2">操作</th>
            </tr>
            </thead>
            <tbody>
            {% for mapping in queryset %}
                <tr>
                    <td>{{ mapping.id }}</td>
                    <td>{{ mapping.wanip }}</td>
                    <td>
                        <span>

                            <a href="{% url 'fwMapping:wanChange'%}?changeID={{ mapping.id }}" title="">编辑</a>
                            <a href="#" class="delete">删除</a>
                        </span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include 'paginator_page.html' %}

    </div>

    <a href="{% url 'fwMapping:wanChange' %}">
        <button class="pull-right btn btn-warning">添加映射</button>
    </a>

    <script>
        $(".delete").on('click', function () {
            swal({
                title: "确认删除?",
                text: "再次确认, 如果删除点击确认, 取消点返回!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        {#var mid = $(this).parent().parent().parent().children().first().text()#}
                        {#  向上找两级，parent(),parent  #}
                        var mid = $(this).parents().eq(2).children().first().text();
                        var jsonstr = {"mid": mid, "csrfmiddlewaretoken": '{{csrf_token}}'};
                        $.ajax({
                            url: "{% url 'fwMapping:wanDetail' %}",
                            type: "DELETE",
                            contentType: "application/json",
                            dataType: "json",
                            data: JSON.stringify(jsonstr),
                            success: function (data) {
                                if (data.status == 10000) {
                                    swal("删除成功!", {icon: "success",});
                                    {# 定时2秒之后在进行删除#}
                                    setInterval(function () {
                                        location.href = location.pathname
                                    }, 2000)
                                } else {
                                    swal("删除失败!", {icon: "warning",});
                                }
                            }
                        })


                    }
                });

        })
    </script>

{% endblock %}