<div class="s-side ">
    <ul class="nav nav-sidebar">
        <li class="first">
            <div class="d-firstNav s-firstNav clearfix">
                <span><a href="#">防火墙映射关系</a></span>
            </div>
            <ul class="d-firstDrop s-firstDrop">
                <li>
                    <div class="d-secondNav s-secondNav">
                        <span><a href="#">内网地址</a></span>
                    </div>
                </li>
                <li>
                    <div class="d-secondNav s-secondNav">
                        <span><a href="#">外网地址</a></span>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>
