<nav aria-label="Page navigation">
    <ul class="pagination">
        {% if queryset.has_previous %}
            <li>
                <a href="?page={{ queryset.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

        {% endif %}
        {% for range in paginator_range %}
            {% if current_page_num == range %}
                <li class="active"><a href="#">{{ range }}</a></li>
            {% else %}
                <li><a href="?page={{ range }}">{{ range }}</a></li>
            {% endif %}

        {% endfor %}

        {% if queryset.has_next %}
            <li>
                <a href="?page={{ queryset.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}

    </ul>
</nav>
